backports-abc==0.4
certifi==2016.8.8
cycler==0.10.0
funcsigs==1.0.2
matplotlib==1.5.2
mock==2.0.0
numpy==1.11.1
pbr==1.10.0
pyobjc-core==3.1.1
pyobjc-framework-Cocoa==3.1.1
pyobjc-framework-Quartz==3.1.1
pyparsing==2.1.8
python-dateutil==2.5.3
pytz==2016.6.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.1
vboxapi==1.0
